.add-update-holiday-section{
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.holiday-title{
  margin: 10px;
}

.form-button-section{
  display: flex;
  justify-content: flex-end;
}

