<div class="close-icon-wrapper">
    <mat-form-field class="workspace-selection small-dropdown">
        <mat-label class="" *ngIf="itemSelectedCount === 0">
            {{ PLACEHOLDER_FOR_EMPTY_SELECTION }}
        </mat-label>
        <mat-label class="select-value" *ngIf="itemSelectedCount > 0">
            <span class="value workspace-custom">{{ topSelectedItem }}</span>
            <span *ngIf="itemSelectedCount > 1" class="add-value"> + {{ itemSelectedCount - 1 }} </span></mat-label>
        <mat-select #select (openedChange)="getSelectedProjectList($event)" multiple class="workspace-filter-selection-wrapper" disableRipple="true" panelClass="workspace-selection-control" [ngClass]="select.panelOpen ? 'arrow-up' : 'arrow-down'">
            <mat-select-trigger class="trigger"></mat-select-trigger>
            <div class="button-container">
                <div class="input-wrapper">
                    <input type="text" placeholder="Search" (keyup)="onSerachTextChange($event)" tmsworkspaceautofocusinput />
                    <input type="text" placeholder="Search" (keyup)="onSerachTextChange($event)" #searchInput />
                    <img src="assets/images/search.svg" alt="search" class="search" />
                </div>
                <div class="button-wrapper">
                    <label class="task_count">{{ itemSelectedCount }} Selected </label>
                    <div>
                        <span (click)="selectAll()">Select All</span>
                        <span (click)="clearAll(); onSerachTextChange({ target: { value: '' } })">Clear All</span>
                    </div>
                </div>
            </div>
            <div class="workspace-project-wrapper">
                <mat-tree [dataSource]="projectSelectionDataSource" [treeControl]="treeControl" class="example-tree">
                    <!-- This is the tree node template for leaf nodes -->
                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle [ngClass]="filterLeafNode(node) ? 'show-node' : 'hide-node'">
                        <mat-option class="avoid-matoption">
                            <li>
                                <mat-checkbox class="checklist-leaf-node" (change)="itemToggle($event.checked, node)" [checked]="node.selected">{{ node.name }} <span *ngIf="displayCount">({{ node.task_count }})</span></mat-checkbox>
                            </li>
                        </mat-option>
                    </mat-tree-node>
                    <!-- This is the tree node template for expandable nodes -->
                    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" [ngClass]="filterParentNode(node) ? 'show-node' : 'hide-node'">
                        <mat-option class="avoid-matoption">
                            <li>
                                <div class="mat-tree-node">
                                    <mat-checkbox [checked]="allCompleted(node)" [indeterminate]="someComplete(node)" (change)="itemToggle_Sub($event.checked, node)">
                                        <div style="display: flex">
                                            <span class="workspace-name">{{ node.title }} </span><span *ngIf="displayCount">({{ node.task_count }})</span>
                                        </div>
                                        <!-- [checked]="node.selected" -->
                                        <!-- [indeterminate]="node.indeterminate && !node.selected" -->
                                    </mat-checkbox>
                                    <span mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name" class="arrow" [ngClass]="treeControl.isExpanded(node) ? 'arrow-up' : 'arrow-down'"></span>
                                </div>
                                <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                                    <ng-container matTreeNodeOutlet></ng-container>
                                </ul>
                            </li>
                        </mat-option>
                    </mat-nested-tree-node>
                </mat-tree>

                <div *ngIf="standloneProjects && standloneProjects?.length > 0 && hasStandloneProjects">
                    <label class="standlong-project-header">Projects</label>
                    <div class="standlone-project-container">
                        <mat-checkbox class="example-margin" *ngFor="let proj of standloneProjects" (change)="projectSelectionChange(proj)" [checked]="proj.checked" [ngClass]="proj.visible ? 'show-node' : 'hide-node'">{{ proj.name }}<span *ngIf="displayCount">({{ proj.task_count }})</span></mat-checkbox>
                    </div>
                </div>
            </div>
        </mat-select>
    </mat-form-field>
    <svg width="16" *ngIf="itemSelectedCount > 0" (click)="clearAll(); getSelectedProjectList(false); onSerachTextChange({ target: { value: '' } })" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="filter-close">
    <path
      d="M8.00065 1.3335C4.32732 1.3335 1.33398 4.32683 1.33398 8.00016C1.33398 11.6735 4.32732 14.6668 8.00065 14.6668C11.674 14.6668 14.6673 11.6735 14.6673 8.00016C14.6673 4.32683 11.674 1.3335 8.00065 1.3335ZM10.2407 9.5335C10.434 9.72683 10.434 10.0468 10.2407 10.2402C10.1407 10.3402 10.014 10.3868 9.88732 10.3868C9.76065 10.3868 9.63398 10.3402 9.53399 10.2402L8.00065 8.70683L6.46732 10.2402C6.36732 10.3402 6.24065 10.3868 6.11398 10.3868C5.98732 10.3868 5.86065 10.3402 5.76065 10.2402C5.56732 10.0468 5.56732 9.72683 5.76065 9.5335L7.29398 8.00016L5.76065 6.46683C5.56732 6.2735 5.56732 5.9535 5.76065 5.76016C5.95398 5.56683 6.27398 5.56683 6.46732 5.76016L8.00065 7.2935L9.53399 5.76016C9.72732 5.56683 10.0473 5.56683 10.2407 5.76016C10.434 5.9535 10.434 6.2735 10.2407 6.46683L8.70732 8.00016L10.2407 9.5335Z"
      fill="#86969D"
    />
  </svg>
    <p #outputDiv></p>
</div>