@import 'apps/angular/main-app/src/variables';
@import 'apps/angular/main-app/src/mixins';
@import 'apps/angular/main-app/src/assets/fonts/fonts.scss';
table {
  width: 100%;
  // margin-top: 20px;
  max-height: 500px;
  overflow: auto;
}

th.mat-header-cell,
td.mat-cell {
  text-align: center;
  border: 1px solid #ccc !important;
  padding: 0 !important;
}

th {
  text-align: center !important;
  background-color: #f9f9f9;
}

td {
  text-align: center !important;
}

.mdc-data-table__row:last-child .mdc-data-table__cell {
  border-bottom: ridge;
}

.scroll-data {
  border: 1px solid #dbdbdb;
  border-top: 0;
  border-bottom: 0;
}

/* Center the dialog content vertically and horizontally */

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  /* Adjust the height as needed */
}

/* Style form fields */

mat-form-field {
  width: 100%;
  margin: 10px 0;
}

/* Style the Save and Cancel buttons */

.mat-dialog-actions {
  justify-content: flex-end;
}

/* Style the dialog title */

.mat-dialog-title {
  color: #fff;
  padding: 10px;
}

/* Style the dialog title text */

.mat-dialog-title h2 {
  margin: 0;
}

/* Style the mat-form-field labels */

.mat-form-field-label {
  color: #007bff;
}

.leave-master-form {
  ::ng-deep .mdc-text-field--filled .mdc-floating-label--float-above {
    display: block;
    top: 42%;
  }
  ::ng-deep .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
    margin-top: 5px;
    padding-left: 0;
    height: 100%;
  }
  ::ng-deep .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input.mat-mdc-form-field-textarea-control {
    margin-top: 15px;
  }
  .text-area-new {
    // overflow: scroll !important;
    height: 90px !important;
  }
}

.administration-wrap {
  .administration-flex {
    @include flex;
    margin-top: 15px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    .cancel {
      height: 37px !important;
      padding: 0 14px !important;
      &:hover {
        background-color: $theme-main-color !important;
        color: $theme-color-white !important;
      }
    }
  }
}

.leave-master-form .text-area-new {
  .mat-mdc-form-field-flex,
  .mat-mdc-form-field-infix {
    .mdc-floating-label {
      top: 15px;
    }
  }
  ::ng-deep .mdc-text-field--filled .mdc-floating-label--float-above {
    display: block;
    top: 20px !important;
  }
}
