@import 'apps/angular/main-app/src/variables';
@import 'apps/angular/main-app/src/mixins';
@import 'apps/angular/main-app/src/assets/fonts/fonts.scss';
.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
}

.board-wrapper {
  display: flex;
  flex-grow: 1;
  overflow-x: auto;
}
.board-columns {
  display: flex;
  flex-grow: 1;
}

.board-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;

  max-width: 300px;
  margin: 50px;
  padding: 25px;

  border-radius: 4px;
  background: #f6f8f9;
}

.board-column:not(:first-child) {
  margin-left: 0;
}

.column-title {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.tasks-container {
  flex-grow: 1;
  overflow-y: auto;
}

.task {
  display: flex;
  padding: 15px 12px;

  border-radius: 4px;
  margin-bottom: 15px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05), 0 3px 14px 2px rgba(0, 0, 0, 0.05);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

input[type='text'] {
  font-size: $theme-main-extra-large-font;
  padding: 5px;
  margin: 0;
  border: 1px solid transparent;
  width: 300px;
  transition: border 0.3s;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

input[type='text']:focus {
  outline: none;
  border-color: black;
}

//--------------------------------- Board View --------------------------------
.group-container {
  margin-top: 5%;
  flex-direction: row;
  max-width: 90vw;
  overflow: auto;
  display: flex;
  background-color: #f8f8f8;
}
.group {
  margin-left: 5px;
  margin-right: 5px;
  min-width: 20vw;
  max-width: 20vw;
  max-height: 70vh;
  background-color: #f8f8f8;
  border: 1px solid rgb(185, 182, 182);
  padding: 5px;
  display: flex;
  overflow: auto;
  flex-direction: column;
}
.group-task {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid rgb(185, 182, 182);
  border-left: 4px solid;
  padding: 5px;
  margin-bottom: 5px;
  height: 15vh;
  max-height: 20vh;
  overflow: auto;
}
.card-item {
  margin-left: 2px;
  margin-right: 2px;
}
.group-task-row {
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin-bottom: 5px;
}
.group-task-container {
  background-color: #f8f8f8;
  max-height: 100%;
  overflow: auto;
}
.view-all-task {
  float: right;
  cursor: pointer;
}
.new-task-blk {
  cursor: pointer;
}
.group-task-footer {
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin-bottom: 5px;
  margin-top: 10px;
  max-height: 20vw;
  flex-wrap: wrap;
  background-color: #e9e8e8;
  max-width: 20vw;
  padding: 5px;
}
.res-person-resize {
  max-width: 200px;
  overflow: hidden;
}
.task-list-right {
  font-size: $theme-main-small-font;
  font-weight: 400;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding: 2px 5px;
  display: flex;
  align-items: center;
  margin-left: auto;
  img {
    margin-left: 5px;
    width: 18px;
  }
  .arrow-green {
    background-color: #60b158;
    color: $theme-color-white;
    width: 26px;
    height: 26px;
    border: initial;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
    mat-icon {
      display: flex;
      align-items: center;
      font-size: $theme-main-medium-font;
      color: white;
    }
  }
  .arrow-orange {
    background-color:$theme-main-color;
    color: $theme-color-white;
    width: 26px;
    height: 26px;
    border: initial;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
    mat-icon {
      display: flex;
      align-items: center;
      font-size: $theme-main-medium-font;
      color: white;
    }
  }
}
.disabled-timer {
  pointer-events: none;
}
.disabled-timer-container {
  cursor: not-allowed;
}
.user-group-icon {
  color: grey;
  margin-left: 5px;
}
