<div class="container-wrapper leave-history">
    <mat-card>
        <div class="workspace-blk workspace-border">
            <strong>
        <a routerLink="/leave">Leave History</a>
      </strong>
            <div (click)="redirectBack()" class="tertiary-button">Back</div>
        </div>
        <div class="user-info" *ngIf="!showUserDetailsSpinner; else spinnerSection">
            <div class="user-info-flex">
                <img #img (error)="img.src = 'assets/images/default.png'" [src]="baseUrl + userInformation?.employee_image || 'assets/images/default.png'" alt="Image" />
                <div>
                    <span>{{ userInformation.first_name + ' ' + userInformation.last_name }}</span>
                    <p>{{ userInformation?.designation || '-' }}</p>
                </div>
            </div>
            <div class="leave-count-attedance">
                <div *ngFor="let item of userInformation?.leaveBalance" [ngClass]="item.leave_type == 'CL' ? 'leave-count-green' : item.leave_type == 'PL' ? 'leave-count-red' : 'leave-count-blue'">
                    <strong>{{ item?.current_balance || '0' }}</strong>
                    <span>{{ item.leave_type == 'CL' ? 'Casual Leave' : item.leave_type == 'PL' ? 'Privilege Leave' : 'Leave Without Pay' }}</span>
                </div>
            </div>
        </div>

        <div class="leave-table">
            <div class="applied-table">
                <strong class="pr-form-top-header">Applied Leaves </strong>
                <div class="leave-form">
                    <p>Leave Filter By :</p>
                    <div class="close-icon-wrapper">
                        <mat-form-field (click)="leaveDatePicker.open()" appearance="fill" class="form-field-width calender-icon medium-height-wrapper input-field-wrapper">
                            <mat-label>Date</mat-label>
                            <mat-date-range-input [min]="minDate" [formGroup]="filterByLeaveDate" [rangePicker]="leaveDatePicker">
                                <input matStartDate (dateChange)="onFilterByDate($event)" formControlName="startDate" readonly />
                                <input (dateChange)="onFilterByDate($event)" matEndDate formControlName="endDate" readonly />
                            </mat-date-range-input>
                            <mat-error *ngIf="filterByLeaveDate.controls['endDate'].hasError('endDateReq')">Please add end date.</mat-error>
                            <mat-datepicker-toggle matIconPrefix [for]="leaveDatePicker"></mat-datepicker-toggle>
                            <mat-date-range-picker #leaveDatePicker></mat-date-range-picker>
                        </mat-form-field>
                        <svg (click)="filterByLeaveDate.reset(); onFilterByDate($event)" *ngIf="filterByLeaveDate.controls['startDate'].value || filterByLeaveDate.controls['endDate'].value" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                            class="filter-close">
              <path
                d="M8.00065 1.3335C4.32732 1.3335 1.33398 4.32683 1.33398 8.00016C1.33398 11.6735 4.32732 14.6668 8.00065 14.6668C11.674 14.6668 14.6673 11.6735 14.6673 8.00016C14.6673 4.32683 11.674 1.3335 8.00065 1.3335ZM10.2407 9.5335C10.434 9.72683 10.434 10.0468 10.2407 10.2402C10.1407 10.3402 10.014 10.3868 9.88732 10.3868C9.76065 10.3868 9.63398 10.3402 9.53399 10.2402L8.00065 8.70683L6.46732 10.2402C6.36732 10.3402 6.24065 10.3868 6.11398 10.3868C5.98732 10.3868 5.86065 10.3402 5.76065 10.2402C5.56732 10.0468 5.56732 9.72683 5.76065 9.5335L7.29398 8.00016L5.76065 6.46683C5.56732 6.2735 5.56732 5.9535 5.76065 5.76016C5.95398 5.56683 6.27398 5.56683 6.46732 5.76016L8.00065 7.2935L9.53399 5.76016C9.72732 5.56683 10.0473 5.56683 10.2407 5.76016C10.434 5.9535 10.434 6.2735 10.2407 6.46683L8.70732 8.00016L10.2407 9.5335Z"
                fill="#86969D"
              />
            </svg>
                    </div>
                    <div class="close-icon-wrapper">
                        <mat-form-field class="small-dropdown medium-height-wrapper input-field-wrapper" #statusFormField>
                            <mat-label>Status</mat-label>
                            <mat-select placeholder="Status" #statusSelect [formControl]="filterByLeaveStatus" (selectionChange)="onFilterByLeaveStatus($event)" [ngClass]="statusSelect.panelOpen ? 'arrow-up' : 'arrow-down'">
                                <mat-option *ngFor="let item of leaveStatusOptions" [value]="item">
                                    {{ item }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <svg (click)="filterByLeaveStatus.reset(); onFilterByLeaveStatus($event)" *ngIf="filterByLeaveStatus.value" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="filter-close">
              <path
                d="M8.00065 1.3335C4.32732 1.3335 1.33398 4.32683 1.33398 8.00016C1.33398 11.6735 4.32732 14.6668 8.00065 14.6668C11.674 14.6668 14.6673 11.6735 14.6673 8.00016C14.6673 4.32683 11.674 1.3335 8.00065 1.3335ZM10.2407 9.5335C10.434 9.72683 10.434 10.0468 10.2407 10.2402C10.1407 10.3402 10.014 10.3868 9.88732 10.3868C9.76065 10.3868 9.63398 10.3402 9.53399 10.2402L8.00065 8.70683L6.46732 10.2402C6.36732 10.3402 6.24065 10.3868 6.11398 10.3868C5.98732 10.3868 5.86065 10.3402 5.76065 10.2402C5.56732 10.0468 5.56732 9.72683 5.76065 9.5335L7.29398 8.00016L5.76065 6.46683C5.56732 6.2735 5.56732 5.9535 5.76065 5.76016C5.95398 5.56683 6.27398 5.56683 6.46732 5.76016L8.00065 7.2935L9.53399 5.76016C9.72732 5.56683 10.0473 5.56683 10.2407 5.76016C10.434 5.9535 10.434 6.2735 10.2407 6.46683L8.70732 8.00016L10.2407 9.5335Z"
                fill="#86969D"
              />
            </svg>
                    </div>
                    <span *ngIf="
              filterByLeaveStatus.value || filterByLeaveDate.controls['startDate'].value || filterByLeaveDate.controls['endDate'].value;
              else disableFilter
            ">
            <button color="primary" mat-icon-button matTooltip="Turn the filters off" (click)="resetAllFilters()">
              <mat-icon>filter_list</mat-icon>
            </button>
          </span>
                    <ng-template #disableFilter>
                        <button disabled mat-icon-button (click)="resetAllFilters()">
              <mat-icon>filter_list_off</mat-icon>
            </button>
                    </ng-template>
                </div>
            </div>
            <div>
                <div class="table-top table-responsive">
                    <ng-container *ngIf="showLeaveHistorySpinner === true; else leaveTable">
                        <div [mainAppSpinner]="showLeaveHistorySpinner"></div>
                    </ng-container>
                    <ng-template #leaveTable>
                        <table mat-table [dataSource]="leaveHistoryDataSource.data.length > 0 ? leaveHistoryDataSource : emptyData">
                            <ng-container matColumnDef="appliedDate">
                                <th mat-header-cell *matHeaderCellDef>Applied on</th>
                                <td mat-cell *matCellDef="let element">{{ element.appliedDate }}</td>
                            </ng-container>

                            <ng-container matColumnDef="leaveDateFromTo">
                                <th mat-header-cell *matHeaderCellDef>Leave date</th>
                                <td mat-cell *matCellDef="let element">{{ element.leaveDateFromTo }}</td>
                            </ng-container>

                            <ng-container matColumnDef="leaveType">
                                <th mat-header-cell *matHeaderCellDef>Type</th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngFor="let type of element.leaveTypes">
                    {{ type.leave_type + '(' + type.leave_days + ')' }}
                  </span>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="leaveSubject">
                                <th mat-header-cell *matHeaderCellDef class="subject">Subject</th>
                                <td mat-cell *matCellDef="let element">{{ element.leaveSubject }}</td>
                            </ng-container>

                            <ng-container matColumnDef="noOfDays">
                                <th mat-header-cell *matHeaderCellDef class="table-align">No. of days</th>
                                <td mat-cell *matCellDef="let element" class="table-align">{{ element.noOfDays }}</td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef class="table-align">Status</th>
                                <td class="table-align status" mat-cell *matCellDef="let element" [ngClass]="
                    element.status === 'PENDING'
                      ? 'pending-report'
                      : element.status === 'REJECTED'
                      ? 'rejected-report'
                      : element.status === 'APPROVED'
                      ? 'approved-report'
                      : 'cancel-report'
                  ">
                                    <span>{{ element.status | titlecase }}</span>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef class="table-align action">Action</th>
                                <td mat-cell *matCellDef="let element" class="leaves-image table-align">
                                    <div class="approval-btn approval-btn-wrapper">
                                        <div matTooltip="View Details" class="tertiary-button" (click)="redirectToDetails(element.id)">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="vuesax/linear/eye">
                          <g id="eye">
                            <path
                              id="Vector"
                              d="M12.9842 9.99993C12.9842 11.6499 11.6509 12.9833 10.0009 12.9833C8.35091 12.9833 7.01758 11.6499 7.01758 9.99993C7.01758 8.34993 8.35091 7.0166 10.0009 7.0166C11.6509 7.0166 12.9842 8.34993 12.9842 9.99993Z"
                              stroke="#86969D"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              id="Vector_2"
                              d="M9.99987 16.8918C12.9415 16.8918 15.6832 15.1584 17.5915 12.1584C18.3415 10.9834 18.3415 9.00843 17.5915 7.83343C15.6832 4.83343 12.9415 3.1001 9.99987 3.1001C7.0582 3.1001 4.31654 4.83343 2.4082 7.83343C1.6582 9.00843 1.6582 10.9834 2.4082 12.1584C4.31654 15.1584 7.0582 16.8918 9.99987 16.8918Z"
                              stroke="#86969D"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </g>
                        </g>
                      </svg>
                                        </div>
                                    </div>
                                    <!-- <img src="assets/images/eye.svg" matTooltip="View leave" alt="Image" (click)="redirectToDetailsPage(element.id)" /> -->
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="empty-row">
                                <td mat-cell *matCellDef="let element">No records found</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: leaveHistoryDataSource.data.length > 0 ? displayedColumns : ['empty-row']"></tr>
                        </table>
                    </ng-template>
                </div>
                <mat-paginator *ngIf="leaveHistoryDataSource.data.length > 0" [pageSize]="params.limit" [pageIndex]="params.page - 1" [length]="totalRecords" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageSelectionChange($event)" aria-label="Select page of users"
                    class="pagination"></mat-paginator>
            </div>
        </div>
    </mat-card>
</div>
<ng-template #spinnerSection>
    <div [mainAppSpinner]="showUserDetailsSpinner"></div>
</ng-template>