@import './../../../../variables.scss';
@import './../../../../mixins.scss';
@import './../../../../assets/fonts/fonts.scss';
.document-round {
  background-color: $theme-body-color;
  margin: 0 3px;
  font-size: $theme-main-small-font;
  font-weight: 400;
  border-radius: 50% !important;
  width: 30px;
  height: 30px;
  @include flex;
  @include flex-align-center;
  @include flex-justify-center;
}

.document-form {
   ::ng-deep .mat-mdc-form-field {
    width: 100% !important;
  }
   ::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input,
  .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
    height: 100% !important;
    padding-left: 0;
  }
   ::ng-deep .document-editor__editable-container {
    border: 1px solid $theme-border-color-gray;
    margin-bottom: 10px;
    height: 700px;
    overflow-y: auto;
    border-radius: $button-radius;
    p {
      font-size: $theme-main-medium-font;
      font-weight: 400;
      margin-top: 5px;
    }
  }
   ::ng-deep .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-rounded-corners {
    height: 700px !important;
    background-color: $theme-color-white;
  }
  .text-danger {
    color: $theme-color-error;
    font-size: $theme-main-small-font;
    font-weight: 500;
    margin-top: -8px;
    display: block;
  }
}

.share-span {
  font-size: $theme-main-medium-font;
  @include flex;
  @include flex-align-center;
  font-weight: 400;
  line-height: 17px;
}

.mat-dialog-lib {
  @include flex;
  @include flex-align-center;
  justify-content: space-between;
  margin-bottom: 16px;
  margin-top: 0;
}

.next {
  margin-left: 0 !important;
  min-width: 65px;
}

.mat-typography {
  overflow: hidden;
  padding: 20px !important;
  max-height: initial !important;
}

.ck-editor__editable::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.062);
  background-color: $theme-color-white;
}

.ck-editor__editable::-webkit-scrollbar {
  width: 6px;
  background-color: $theme-color-white;
}

.ck-editor__editable::-webkit-scrollbar-thumb {
  background-color: #cccccce7;
}

.mat-mdc-input-element {
  padding-left: 0;
}

.lib-add-document {
   ::ng-deep .cdk-overlay-pane {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.work-list-modal-wrapper {
  padding: 20px;
  h2 {
    margin: 0;
    font-size: 18px;
    color: #021629;
  }
  .mat-mdc-dialog-content {
    padding: 0 !important;
  }
  .work-time-wrapper-outer {
    mat-label {
      display: block;
      color: $theme-font-color-black;
      font-size: $theme-main-small-font;
      font-weight: 500;
      line-height: 14px;
      margin-bottom: 5px;
    }
    .mat-icon {
      padding: 0;
    }
    .from-date-wrapper,
    .to-date-wrapper {
      display: flex;
      gap: 15px;
      .mat-mdc-form-field {
        width: 200px;
        margin-bottom: 10px;
        cursor: auto;
      }
    }
    .textarea-wrapper {
      margin-bottom: 15px;
      margin-top: 5px;
      position: relative;
      .mat-mdc-form-field-error {
        position: absolute;
        line-height: 12px;
        bottom: -18px;
      }
    }
    textarea {
      width: 100%;
      border: 1px solid #DFDFDF;
      border-radius: 3px;
      height: 60px;
      padding: 6px 12px;
      font-family: $theme-main-font-family;
      display: block;
    }
  }
}

.restrict-cursor {
  cursor: not-allowed !important;
}

.work-list-modal-wrapper {
  .error {
    margin-bottom: 10px;
  }
  .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
    min-height: 34px !important;
    cursor: pointer;
  }
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 5px;
}