<div class="lib-add-document">
    <ng-template #workHistoryCommentPopupModal>
        <div class="work-list-modal-wrapper">
            <mat-dialog-title class="mat-dialog-lib">
                <h2>{{ heading }}</h2>

                <!-- <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          (click)="onCloseModal()"
          class="cursor-pointer"
        >
          <path
            d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"
            stroke="#86969D"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path d="M9.16992 14.8299L14.8299 9.16992" stroke="#86969D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M14.8299 14.8299L9.16992 9.16992" stroke="#86969D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg> -->
            </mat-dialog-title>
            <mat-dialog-content class="mat-typography work-time-wrapper-outer">
                <form [formGroup]="workDescriptionForm">
                    <!-- start time date control -->
                    <mat-label>From</mat-label>
                    <div class="from-date-wrapper">
                        <mat-form-field class="project-name calender-icon" [ngClass]="!isAllControlsEditable ? 'restrict-cursor' : ''" (click)="startDatepicker.open()">
                            <mat-label>Start Date </mat-label>
                            <input [ngClass]="!isAllControlsEditable ? 'restrict-cursor' : ''" matInput [matDatepicker]="startDatepicker" formControlName="startDate" (dateChange)="onTaskDateChange()" readonly autocomplete="off" />

                            <!-- <svg
                width="16"
                class="filter-close"
                [ngClass]="!isAllControlsEditable ? 'restrict-cursor' : ''"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.00065 1.3335C4.32732 1.3335 1.33398 4.32683 1.33398 8.00016C1.33398 11.6735 4.32732 14.6668 8.00065 14.6668C11.674 14.6668 14.6673 11.6735 14.6673 8.00016C14.6673 4.32683 11.674 1.3335 8.00065 1.3335ZM10.2407 9.5335C10.434 9.72683 10.434 10.0468 10.2407 10.2402C10.1407 10.3402 10.014 10.3868 9.88732 10.3868C9.76065 10.3868 9.63398 10.3402 9.53399 10.2402L8.00065 8.70683L6.46732 10.2402C6.36732 10.3402 6.24065 10.3868 6.11398 10.3868C5.98732 10.3868 5.86065 10.3402 5.76065 10.2402C5.56732 10.0468 5.56732 9.72683 5.76065 9.5335L7.29398 8.00016L5.76065 6.46683C5.56732 6.2735 5.56732 5.9535 5.76065 5.76016C5.95398 5.56683 6.27398 5.56683 6.46732 5.76016L8.00065 7.2935L9.53399 5.76016C9.72732 5.56683 10.0473 5.56683 10.2407 5.76016C10.434 5.9535 10.434 6.2735 10.2407 6.46683L8.70732 8.00016L10.2407 9.5335Z"
                  fill="#86969D"
                />
              </svg> -->

                            <mat-datepicker-toggle matPrefix [for]="startDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #startDatepicker></mat-datepicker>
                            <mat-error *ngIf="workDescriptionForm.get('startDate')?.hasError('required')">Start date is required.</mat-error>
                        </mat-form-field>
                        <mat-form-field [ngClass]="!isAllControlsEditable ? 'restrict-cursor' : ''">
                            <mat-label>Start Time</mat-label>
                            <input matInput [ngxTimepicker]="timePicker" [formControl]="startTime" [ngClass]="!isAllControlsEditable ? 'restrict-cursor' : ''" readonly />

                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="isAllControlsEditable ? timePicker.open() : ''" matSuffix [ngClass]="!isAllControlsEditable ? 'restrict-cursor' : ''" class="cursor-pointer">
                <path
                  d="M18.3337 9.99984C18.3337 14.5998 14.6003 18.3332 10.0003 18.3332C5.40033 18.3332 1.66699 14.5998 1.66699 9.99984C1.66699 5.39984 5.40033 1.6665 10.0003 1.6665C14.6003 1.6665 18.3337 5.39984 18.3337 9.99984Z"
                  stroke="#86969D"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.0914 12.65L10.5081 11.1083C10.0581 10.8416 9.69141 10.2 9.69141 9.67497V6.2583"
                  stroke="#86969D"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
                            <mat-error *ngIf="startTime.hasError('required')"> Start time is required.</mat-error>
                            <ngx-material-timepicker (timeSet)="onStartTimeChange($event)" #timePicker></ngx-material-timepicker>
                        </mat-form-field>
                    </div>
                    <mat-label>To</mat-label>
                    <div class="to-date-wrapper">
                        <mat-form-field class="task-right-label calender-icon" [ngClass]="!isAllControlsEditable ? 'restrict-cursor' : ''" (click)="taskEndDatePicker.open()">
                            <input [ngClass]="!isAllControlsEditable ? 'restrict-cursor' : ''" formControlName="endDate" matInput [matDatepicker]="taskEndDatePicker" (dateChange)="onTaskDateChange()" autocomplete="off" readonly />
                            <mat-datepicker #taskEndDatePicker></mat-datepicker>
                            <mat-error *ngIf="workDescriptionForm.get('endDate')?.hasError('required')">Start date is required.</mat-error>
                        </mat-form-field>

                        <mat-form-field [ngClass]="!isAllControlsEditable ? 'restrict-cursor' : ''">
                            <mat-label>End Time</mat-label>
                            <input matInput [ngxTimepicker]="endTimePicker" [formControl]="endTime" [ngClass]="!isAllControlsEditable ? 'restrict-cursor' : ''" readonly />

                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" (click)="isAllControlsEditable ? endTimePicker.open() : ''" class="cursor-pointer" matSuffix>
                <path
                  d="M18.3337 9.99984C18.3337 14.5998 14.6003 18.3332 10.0003 18.3332C5.40033 18.3332 1.66699 14.5998 1.66699 9.99984C1.66699 5.39984 5.40033 1.6665 10.0003 1.6665C14.6003 1.6665 18.3337 5.39984 18.3337 9.99984Z"
                  stroke="#86969D"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.0914 12.65L10.5081 11.1083C10.0581 10.8416 9.69141 10.2 9.69141 9.67497V6.2583"
                  stroke="#86969D"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
                            <mat-error *ngIf="endTime.hasError('required')"> End time is required.</mat-error>

                            <ngx-material-timepicker (timeSet)="onEndTimeChange($event)" #endTimePicker></ngx-material-timepicker>
                        </mat-form-field>
                    </div>
                    <div class="textarea-wrapper">
                        <textarea name="workdescription" id="workdescription" formControlName="workDescription" cols="100" rows="10" placeholder="Description"></textarea>
                        <!-- <mat-error *ngIf=" _workDescription['workDescription'].touched && _workDescription['workDescription'].errors?.['required']">
            Please enter work description
          </mat-error> -->
                        <mat-error *ngIf=" _workDescription['workDescription'].errors?.['minlength']"> Please enter minimum 3 characters </mat-error>

                        <mat-error *ngIf=" _workDescription['workDescription'].errors?.['maxlength']"> Maximum 512 characters are allowed </mat-error>
                    </div>

                    <div>
                        <button mat-dialog-close (click)="onCloseModal()" class="cancel" style="margin-right: 5px">Cancel</button>

                        <button color="primary" (click)="onSubmit()" class="next">Save</button>
                    </div>
                </form>
            </mat-dialog-content>
        </div>
    </ng-template>
</div>